#container{
    height: 100%;
}

/*--- div ya left ---*/
#left{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

h4{
    color: white;
    text-align: center;
}
/*--- mwisho wa let div ---*/

/*--- div ya right ---*/
#right{
    padding-top: 100px;
}

/* ------Fomu----- */
form{
    width: 70%;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 7px silver;
    margin-left: 110px;
}

/*---Log in heading ---*/
h2{
    padding-left: 170px;
}

input[type="text"]{
    width: 80%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 2px silver;
}

/*--- log in button ---*/
#log_btn{
    width: 80%;
    background-color: cadetblue;
    padding: 7px;
    border: none;
}
#log_btn:hover{
    background-color: aqua;
}
/*--- mwisho wa right div ---*/

#ddd{
    background-color: black;
    color: red;
}
#ddd:hover{
    background-color: red;
}

