<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/ndoto.png"  height="80px" alt="img loading........">
        </div>

        <div class="col-md-8">
            <h1 class="text-center mt-3">NDOTO AJIRA</h1>
        </div>

        <div class="col-md-2">
            <button class="btn btn-success" routerLink="/login">login</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">welcome to Ndoto Ajira</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus consequatur numquam cum, 
                beatae cupiditate adipisci vero! Adipisci voluptate consequuntur delectus fugiat earum natus 
                praesentium voluptates possimus, ex, culpa doloribus repellat.

                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus consequatur numquam cum, 
                beatae cupiditate adipisci vero! Adipisci voluptate consequuntur delectus fugiat earum natus 
                praesentium voluptates possimus, ex, culpa doloribus repellat.
            </p>
            <hr>
        </div>

        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>CEO of ndoto ajira</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src="assets/images/show.jpg" width="100%">
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-2">
            <h1 class="text-center">Our mission</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nesciunt quis blanditiis. 
                Nulla maxime, aliquid et error sunt voluptatem qui iusto quisquam culpa beatae ipsa ipsam corrupti 
                praesentium accusantium unde?</p>
        </div>

        <div class="col-md-4 mt-2">
            <h1 class="text-center">Our mission</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nesciunt quis blanditiis. 
                Nulla maxime, aliquid et error sunt voluptatem qui iusto quisquam culpa beatae ipsa ipsam corrupti 
                praesentium accusantium unde?</p>
        </div>

        <div class="col-md-4">
            <img src="assets/images/home.jpg" width="100%" height="300px" alt="img loading......" class="mt-2" >
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>welcom to join in Ndoto Ajira competition.</p>
            <marquee behavior="" direction="">
                <h3 class="text-warning">please read bellow to get more information</h3>
            </marquee>

            <table class="table table-striped ">
                <tr>
                    <td>Starting date of application</td><td><b>2023/06/12</b></td>
                </tr>
                <tr>
                    <td>dealine for application</td><td><b>2023/06/12</b></td>
                </tr>
                <tr>
                    <td>Theme</td><td><b>UCHUMI WA BULUU</b></td>
                </tr>
                <tr>
                    <td>Descreption about theme</td><td><b>Applicant's idea should must intend a theme shown in left side</b></td>
                </tr>
                <tr>
                    <td>Type of competition</td><td><b>INDIVIDUAL & GROUP</b></td>
                </tr>
                <tr>
                    <td>Competition location</td><td><b>competition will take place at</b></td>
                </tr>
            </table>

            <button class="btn btn-primary" routerLink="/registration">Apply now!</button>
        </div>
    </div>

    <!-- ................. footer ......................... -->
    <div class="row">
        <div class="col-md-12">
            <textarea name="" id="" cols="30" rows="10">comment....</textarea> 
        </div>
    </div>
</div>