<div class="container m-3" >
    <div class="row">
        <div class="reg-form">
            <img src="assets/images/user.png" width="120px" style="margin-top: -80px;"> 
            <h1>NEW STAFF REGISTRATION</h1>
            <form >
                <input type="text" placeholder="first name"  name="userFirstName" class="input-box">
                <input type="text" placeholder="Middle name"  name="userMiddleName" class="input-box">
                <input type="text" placeholder="Last name"  name="userLastName" class="input-box"><br><br>
                <input type="text" placeholder="University"  name="university" class="input-box">
                <input type="text" placeholder="example.com"  name="userEmail" class="input-box">
                <input type="text" placeholder="mobile number"  name="userPhone" class="input-box"><br><br>
                <input type="text" placeholder="Username"  name="userName" class="input-box">
                <input type="password" placeholder="password"  name="userPassword" class="input-box">

                <input type="submit" value="register" class="reg_btn">
            </form>
        </div>
    </div>
</div>