<mat-card>
    <mat-card-header>
        <mat-card-title>Application Page</mat-card-title>
        <mat-card-subtitle>please fill the form below</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="form">
            <form action="">
                
                <label for="">title:</label>
                <input type="text" placeholder="enter your project title">
                <br><br>

                <label for="">discription: </label>
                <input type="text" placeholder="disription about your title">
                <br><br>

                <label for="">photo:</label>
                <input type="file">
                <br><br>

                <button class="btn btn-primary" >submit</button>
                
            </form>
        </div>

    </mat-card-content>
</mat-card>