<div class="card m-3">
    <div class="row p-3">
        <div class="col-md-12"><h1 class="text-center text-primary">SENDING EMAIL</h1></div>
        <div class="col-md-12 pl-5 pr-5">
            <form class="p-5">
                <label for="title" class="text-primary">To</label>
                <input type="email" placeholder="xxxxx@example.com" id="to" name="to" class="form-control rounded-0"><br><br>

                <label for="subject" class="text-primary">Subject</label>
                <input type="text" placeholder="subject" id="subject" name="subject" class="form-control rounded-0"><br><br>
                
                <label for="body" class="text-primary">Body</label>
                <textarea name="body" class="form-control rounded-0" id="body" placeholder="body...."></textarea><br><br>
                <button class="btn btn-primary form-control rounded-0">send</button>
            </form>
        </div>
    </div>
</div>
